{% extends 'base.html' %}

{% block content %}

    <div class="w-full sm:w-10/12 md:w-10/12 lg:w-8/12 mx-auto px-4 mt-10">
        <div class="text-center  mb-4   ">
            <span class="text-center text-base font-semibold bg-gray-400 rounded-full px-5 py-3">Contact Kemoko</span>
        </div>

        <div class="text-center my-6">
            <h1 class="text-center text-6xl font-extrabold">Let's Connect !</h1>
        </div>

        <p class="mt-5 text-lg text-center text-gray-500">
            Have a question or want to connect? 
            I’m always open to new opportunities, collaborations, or simply discussing technology. With a strong background in embedded systems, IoT, and cybersecurity, I enjoy working on meaningful projects.
            Feel free to drop me a message. Let’s connect and build something exciting together
        </p>

        <div class="text-center w-10/12 sm:w-10/12 md:w-4/12 lg:w-4/12 mx-auto my-6">
            <hr class="my-4 text-gray-400" />
        </div>

        <div class="w-10/12 sm:w-full md:w-8/12 lg:w-10/12 mx-auto my-6">

            <h3 class="text-4xl font-bold my-6 text-center">Contact Form</h3>

            <p class="text-center text-gray-500 text-xl my-6">
                Fill out the form below, and I'll get back to you as soon as possible.
            </p>
            
            <form class="max-w-lg mx-auto py-6 bg-auto space-y-4">
                <div>
                    <label class="block text-sm font-medium text-gray-500">Your Name*</label>
                    <input type="text" class="mt-1 w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-500" placeholder="Kirito"  />
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-500">Your Email*</label>
                    <input type="email" class="mt-1 w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-500" placeholder="kirito@company.com" />
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-500">Subject*</label>
                    <input type="text" class="mt-1 w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-500" placeholder="Hiring purpose" />
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-500">Your Message*</label>
                    <textarea class="mt-1 w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-500" rows="5" placeholder="I want to purpose you..." ></textarea>
                </div>
                <div>
                    <button type="submit" class="bg-indigo-600 text-white px-6 py-2 rounded hover:bg-indigo-700">
                        Send
                    </button>
                </div>
            </form> 

        </div>
    </div>
    
{% endblock %}